.mainimage{
    width: 80px;
    height: 80px;
  
}
.headingimage{
    display: flex;
    gap: 20px;
    align-items: center;
}


.notiControlb{
    border: 1px solid #cbcbcb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--bs-box-shadow-sm) !important;
    margin-bottom: 4px;

}
.mainimage img {
    width: 100%;
    border-radius: 55px;
    height: 100%;
}
.acceptBtn{
    display: flex;
    gap: 10px;
    align-items: center;
}


@media (max-width:767px){

}


    


    
@media (max-width:767px){

    .notiControlb{
        display: grid;
        /* grid-template-columns: repeat(2, auto); */
        /* justify-content: start; */
    }
}