/* SplashScreen.css */

/* Add a fade-in and scale-up animation */
@keyframes fadeInScaleUp {
    0% {
      opacity: 0;
      transform: scale(0.7); /* Start small */
    }
    100% {
      opacity: 1;
      transform: scale(1); /* End at normal size */
    }
  }
  
  /* Apply animation to the logo */
  /* .splash-logo {
    animation: fadeInScaleUp 1.5s ease-out forwards; 
  } */



  .imagefirstsplash{
    animation: fadeInScaleUp 1.5s ease-out forwards; 

  }
  .mains{
    font-family: Poppins;
font-weight: 400;
font-size: 26px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

  }