.onboarding-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    background: #fff;
  }
  
  .slider {
    width: 100%;
    max-width: 400px;
  }
  
  .onboarding-footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  
  .next-btn {
    background: #ffff;
    color: #ff3366;
    border: 1px solid #ff3366;
    padding: 6px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    width: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .skip-btn {
    background: transparent;
    color: gray;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .pagination {
    display: flex;
    gap: 5px;
    margin-top: 10px;
  }
  .image{
    margin-left: 15px;
  }
  
  .dot {
    height: 8px;
    width: 8px;
    background-color: lightgray;
    border-radius: 50%;
  }
  
  .dot.active {
    background-color: #ff4d6d;
    width: 8px;
    height: 8px;
  }
  .onboarding-footer{
    display: flex;
    justify-content: space-around;
  }