.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.css-19kzrtu{
  padding: 0px !important;
}
.css-6p016c.Mui-selected{
  background: #EE4266 !important;
  border-radius: 23px !important;
  color: white !important;
}
.css-jkmkwa {
  background-color: unset !important;
  display:none !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

.slick-track {
  display: flex;
}

body {
  font-family:'Poppins';
 
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.PhoneInputCountry select {
  width: 20% !important;
  max-width: 20px !important;
}
.PhoneInputCountry select option {
  font-size: 10px !important;
}
select.PhoneInputCountrySelect {
  width: 20% !important;
  max-width: 20px !important;
  font-size: 10px !important;
}
option{
  width: 20% !important;
  max-width: 20px !important;
  font-size: 10px !important;
}
.PhoneInputCountrySelect {
  border :1px solid red !important ;
  font-size: 10px !important;
}
.mains121 .card:last-child {
  margin-bottom: 3rem !important;
}
.containers1  .card1:last-child {
  margin-bottom: 3rem !important;
}
/* .mobileMode{
  padding: 5px;
} */
.css-19kzrtu{
  padding: 0px !important;
}
.css-6p016c.Mui-selected{
  background-color: #EE4266 !important;
  color: white !important;
}


button#mui-p-82252-T-1 {
  color: white !important;
  background-color: #EE4266 !important;
  border-radius: 26px !important;
}
.css-6p016c.Mui-selected {
  
  color: white !important;
  background-color: #EE4266 !important;
  border-radius: 26px !important;
  box-shadow: 0px 2px 3px 1px #00000040 !important;
}
.MuiTabs-flexContainer .span.MuiTabs-indicator.css-jkmkwa {
  background-color:unset!important;
  background-color:rgba(255, 255, 255, 0) !important;
  display:none !important;
}
.span.MuiTabs-indicator.css-jkmkwa {
  background-color:unset!important;
  background-color:rgba(255, 255, 255, 0) !important;
  display:none !important;
}

/* .nav-tabs  {
  border:none !important;
} */
.nav-link.active {
  /* your styles here */
 border: none !important;
}
.navbar-toggler:focus{
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
} 


.reactEasyCrop_Container{
background-color: black !important;
top: 0% !important;

}
.reactEasyCrop_CropArea{
  height: 190px !important;
  top: 35% !important;
  
  width: 368.135px !important;
}

.grecaptcha-badge {
   visibility: hidden; 
  }



  .swal2-modal{
    position:relative;
  }


  div.PhoneInputCountry{
    border-radius: 5px!important;
    /* border: 1px solid #00000066 !important; */
    padding: 6px !important;
    height: 38px!important;
  }
  .PhoneInputInput{
    margin-top: 0px !important;
     border-color: #00000066 !important;
     border: 1px solid #00000000 !important;
     outline: none !important;
     padding: 0px 6px 0px 0 !important;  ;
  }
  .PhoneInput{
    /* border: 1px solid #b3b3b3 !important;  */
  
    position: relative;
    top: -9px;
      }

  .phoneBorder{
    border: 1px solid #00000066 !important; 
    border-radius: 5px !important;
    height: 60px !important;
    padding: 5px 5px;
}

.phoneBorder .form-label{
  margin-bottom: 0px !important;
  padding: 0 0 0 5px !important;
  color: #818181 !important;
  font-size: 12px;
  height: 16px !important;

}

.fullnameb{
  border: 1px solid #00000066 !important; 
  border-radius: 5px !important;
  /* height: 40px !important; */
  padding: 5px 5px;
}
 
.fullnameb .form-label{
  margin-bottom: 0px !important;
  padding: 0 0 0 5px !important;
  color: #818181 !important;
  font-size: 12px;
  height: 16px !important;

}

.fullnameb input{
  height: 20px !important;
  border: none !important;
  margin: 0;
  padding: 0 0 0 5px;
  outline: none !important;
  box-shadow: unset !important;
  background-color: none !important;
}

  

  .dropdown-toggle::after {
    display: none !important; /* Hide the default arrow icon */
  }
/* 
  .nav-tabs {
    border: none !important;
  } */


  .MuiBox-root .css-1gsv261 .css-jhczcq-MuiTabs-root{
    min-height: 40px !important;
  }


  .MuiTabs-flexContainer  .css-1usuzwp-MuiButtonBase-root-MuiTab-root{
    min-height: 40px !important;
    text-transform: none;
  }

  .nav-tabs{
    border:none !important;
  }
  button.nav-link{
    border:none !important;
  }
  img.swal2-image
  {
    position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  top: -90px !important;
  background-color: #fff !important;
  padding: 15px !important;
  border-radius: 95px !important;
}

  .swal2-popup{
    position: relative !important;
  }

  div:where(.swal2-container) h2:where(.swal2-title) {
 
    padding: 68px 1em 0 !important;
 
}

div:where(.swal2-container) div:where(.swal2-html-container) {


  font-size: 26px !important;
  font-weight: 600 !important;
  
  color: black !important;
}

.swal2-actions{ 
    width: 100% !important;
    padding: 0 20px !important;
    
}

.swal2-confirm{
  font-size: 16px !important;

}


.ChatRoom_chatMediaImage__UFP-v{
  max-height:200px !important;
}


.ChatRoom_sentMessage__gKtys .ChatRoom_messageBubble__na6jL .ChatRoom_chatMediaImage__UFP-v{
  background-color: unset !important;
  background: none !important ;

}

.fixed_Top{
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 9999 !important;
  background-color: #fff !important;

  padding: 0px 20px !important;
}

.fixed_Top h4{
  margin: 0;
}
.fixed_bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px 20px;

  z-index: 1000;

}