*{
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
/* index.css */

/* Import Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Apply Poppins font globally */
body {
  font-family: 'Poppins', sans-serif;
  
}
#root{
  background-color: #fff;
}


.container{
  max-width: 1920px !important;
  padding: 0 20px !important;
width: 100%;
margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  text-decoration: none !important;

}
Link{
  text-emphasis: none;
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
}


.homemain .slick-track {
  display: flex;
  gap: 12px;
}
.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: white !important;
  background-color: #EE4266 !important;
  border-radius: 26px !important;
  }
  .css-1qltlow-MuiTabs-indicator{
      display: none;
  }

.page-controls{
  width: 100%;
  padding: 0px 0px;
  margin: auto;
 max-width: 1920px;
}
/* .mains121 .card:last-child {
  margin-bottom: 4rem !important;
} */